<?xml version='1.0' encoding='utf-8'?>
<widget id="com.test.audioinput" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AudioInput Test</name>
    <description>Test app for cordova-plugin-audioinput</description>
    <author email="test@example.com" href="https://github.com/exelerus/cordova-plugin-audioinput">
        Test Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="33" />
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="deployment-target" value="12.0" />
    </platform>

    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xff0000ff" />
</widget>
